body {
    font-family: Sans-Serif;
    font-size: 1em;
    color: #666;
}

form {
    display: block;
    width: 300px;
    background: #8974AD;
    position: absolute;
    left: 50%;
    bottom: 280px;
    margin: -100px 0 0 -165px;
    padding: 30px;
    box-shadow:         2px 2px 4px rgba(33,33,33,0.2);
    -webkit-box-shadow: 2px 2px 4px rgba(33,33,33,0.2);
    -moz-box-shadow:    2px 2px 4px rgba(33,33,33,0.2);
    border-radius:         4x;
    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
}

div.flashes {
    display: block;
    width: 270px;
    background: #E49391;
    position: absolute;
    left: 50%;
    bottom: 490px;
    color: #993534;
    font-size: 0.8em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    margin: -100px 0 0 -152px;
    padding: 0px 28px 10px 30px;
    border: 0px solid #993534;
    border-radius:         4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius:    4px 4px 0 0;
    box-shadow:         1px 1px 3px rgba(33,33,33,0.3);
    -webkit-box-shadow: 1px 1px 3px rgba(33,33,33,0.3);
    -moz-box-shadow:    1px 1px 3px rgba(33,33,33,0.3);
    
}

div.flashes h4 {
    font-size: 1.2em;
    padding: 0px; 
    margin-bottom: 7px;
    margin-top: 10px;
}

input[type="text"], input[type="password"] {
  border:1px solid #ebebeb;
  padding: 10px;
  width: 280px;
  margin-bottom:20px;
  color:#555;
}
input[type="submit"] {
  border:0px solid #ebebeb;
  background:#ebebeb;
  color:#555;
  padding:10px 40px;
  cursor:pointer;
  float:right;
}
input[type="submit"]:hover {
  background:#fafafa
}
