<!DOCTYPE html>
<html>
    <head>
        <title>Squiz Auth</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById('username').focus();
            };    
        </script>
    </head>
    <body>
        <div class="wrapper">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flashes">
                <h4>Warning</h4>	
            {% for message in messages %}
                {{ message }}<br />
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
            <form method="post">
                <input type="text" id="username" name="username" placeholder="Username" />
                <input type="password" id="password" name="password" placeholder="Password" />
                <input type="submit" id="login" name="login" value="Login" />
            </form>
        </div>
    </body>
</html>
